* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'sf pro text', -apple-system, system-ui, 'segoe ui', Roboto,
    Helvetica, Arial, sans-serif, 'apple color emoji', 'segoe ui emoji',
    'segoe ui symbol';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-bottom: 90px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a {
  text-decoration: none;
  color: black;
}
